body {
    background-color: 292929;
}

.jumbotron {
    background-color: 121212;
}

p {
    color: FFFFFF;
}

h1 {
    color: FFFFFF;
}

h2 {
    color: FFFFFF;
}

h3 {
    color: FFFFFF;
}

li {
    color: FFFFFF;
}